@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
button {
    background-color: #3882f6;
    color: #fff;
    font-weight: 700;
}
/* header */
.hero-main {
    background-color: #1f2937;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0 50px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.left-header, .links {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.links {
    padding: 0;
    margin: 0;
    gap: 60px;
}
.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.right-header ul {
    list-style: none;
}
/* hero */
.hero {
    display: flex;
}
.headline {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.subheading {
    color: #e5e7eb;
    font-size: 18px;
}
/* center */
.center {
    background-color: #fff;
}
.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.content-image {
    /* position: relative; */
    /* float: left; */
}
.content-image a {
    /* position: absolute; */
}
.text {
    color: #6a6a6a;
    font-size: 18px;
}
/* quote */
.quote-block {
    background-color: #e5e7eb;
}
/* call to action */
.bottom {
    background-color: #3882f6;
}
/* footer */
.footer {
    background-color: #1f2937;
}